/* default reseting styles */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(149, 62, 70);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
}

.clear_fix {
    clear: both;
}

header,
main,
footer {
    width: 80%;
    margin: 0px auto;
    padding: 30px 0px;
}

/* top header style start */

header .top_menu>div {
    float: left;
}

header .top_menu h1 {
    color: white;
    font-weight: 100;
    margin: 0;
}

header .serach {
    width: 650px;
}

header .serach>div {
    display: inline-block;
}

header .serach .left {
    color: rgb(149, 62, 70);
    background: rgb(245, 227, 207);
    width: 60%;
    height: 42px;
    margin-left: 50px;
}

header .serach .left input {
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    padding: 0px 10px;
    box-sizing: border-box;
    background: transparent;
}

header .serach .left i {
    cursor: pointer;
}

header .serach button,
header .avatar button {
    color: rgb(149, 62, 70);
    background: rgb(245, 227, 207);
    border: none;
    outline: none;
    padding: 12px 17px;
    font-size: 16px;
    margin-left: 20px;
}

header .serach button i {
    margin-right: 7px;
}

header .avatar .user-info {
    float: right;
    color: rgb(245, 227, 207);
    margin-left: 10px;
}

header .avatar .user-info h3,
h6 {
    margin: 0;
}

header .avatar {
    position: relative;
}

header .avatar .view-count {
    border-radius: 50%;
    color: rgb(149, 62, 70);
    background: rgb(245, 227, 207);
    font-size: 8px;
    padding: 5px;
    position: absolute;
    top: -5px;
    right: -23px;
}

header .navbar {
    width: 100%;
    border: 3px solid rgb(245, 227, 207);
    border-left: none;
    border-right: none;
    margin: 30px 0px;
}

header .navbar ul {
    margin: 0px;
    padding: 0px;
}

header .navbar ul>li {
    display: inline-block;
    padding-right: 30px;
    margin: 13px 0px;
}

header .navbar ul li>a {
    color: rgb(245, 227, 207);
    text-decoration: none;
}

header .navbar ul li > a:after {
    content: "/";
    margin-left: 30px;
}


header .navbar ul li:last-child a:after{
    content: "";
    margin-left: 0px;
}
/* top header style end */


/* main piece start */



/* main piece end */
 

